#title {
    background-color: #F26419;
    font-family: 'Audiowide', cursive;
    font-size: 60px
}

#intro {
    background-color: #F6AE2D;
    font-family: 'Lato', sans-serif;
}

#example {
    background-color: #758E4F;
    font-family: 'Lato', sans-serif;
}

#aboutme {
    background-color: #86BBD8;
    font-family: 'Lato', sans-serif;
}