figcaption {
    color: black;
}

#title {
    color: #FED11D;
    background-color: #4A235A;
    font-family: 'Days One', sans-serif;
    font-size: 80px
}

#intro {
    color: #FFFDE6;
    background-color: #4A235A;
    font-family: 'Lato', sans-serif;
}

#example {
    color: #FFFDE6;
    background-color: #4A235A;
    font-family: 'Lato', sans-serif;
}

#example figcaption {
    color: #FFFDE6;
}

#aboutme {
    background-color: #FFC900;
    font-family: 'Lato', sans-serif;
}